{% extends 'm_mg/base.html' %}
{% block conteudo %}
    <form action="{% url 'nova_conta' %}" method="post">
        {% csrf_token %}
        <label for="conta_id">nome da conta</label>
        <input type="text" name="conta" maxlength="100" required id="conta_id">
        <label for="descricao_id">descricao</label>
        <input type="text"  name="descricao" maxlength="500" id="descricao_id">
        <label for="saldo_id">saldo</label>
        <input type="number" name="saldo" id="saldo_id" value="0">
        <button>registrar nova conta</button>
    </form>
{% endblock %}