{% extends 'm_mg/base.html' %}
{% block conteudo %}
    <main class="index">
        <h1>Todos os movimentos</h1>
        <section class="section-listagem">
            <div class="tabela-container">
                <div class="container-2">
                    <table>
                        <thead>
                            <tr>
                                <th>ID do Movimento</th>
                                <th>Conta</th>
                                <th>Tipo de Movimento</th>
                                <th>Valor</th>
                                <th>Data</th>
                                <th>Descricao</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for movimento in movimentos %}
                                <tr>
                                    <td>{{ movimento.id }}</td>
                                    <td>{{ movimento.conta }}</td>
                                    <td>{{ movimento.tipo }}</td>
                                    <td>{{ movimento.valor }}</td>
                                    <td>{{ movimento.data|date:'d/m/Y | H:i'}}</td>
                                    <td>{{ movimento.descricao }}</td>
                                </tr>
                            {% empty %}
                                <p>Nenhum movimento realizado </p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock %}